<div class="form-group">
    <label for="titulo">Titulo</label>
    <input required type="text" value="<%= artigo.titulo %>" name="titulo" id="titulo" class="form-control">
</div>

<div class="form-group">
    <label for="desc">Descrição</label>
    <textarea required type="text" name="desc" id="desc" class="form-control"><%= artigo.desc %></textarea>
</div>

<div class="form-group">
    <label for="marc">Marcação</label>
    <textarea type="text" name="marc" id="marc" class="form-control"><%= artigo.marc %> </textarea>

</div>

<a href="/" class="btn btn-secondary">Cancelar</a>
<button type="submit" class="btn btn-primary">Cadastrar</button>